<div>
  <form [formGroup]="productsForm" (submit)="showData()">
    <div>
      Category:
      <input type="text" formControlName="category" />
    </div>
    <div formArrayName="brands" *ngFor="let brand of productsForm.controls.brands.controls; let i=index;">
        <div formGroupName="{{i}}">
          {{ brand.get('title').value }}
          <input type="text" formControlName="value" />
        </div>
    </div>
    <div formArrayName="gender" *ngFor="let gender of productsForm.controls.gender.controls; let i=index;">
      <div formGroupName="{{i}}">
        {{ gender.get('title').value }}
        <input type="radio" formControlName="gender" name="gender"/>
      </div>
  </div>
    <input type="submit" value="Click Me!"/>
  </form>
</div>
